.committee {
  width: 100%;
  min-height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 80px;
  background: #120a88;
}

.committee-container {
  width: 100%;
  max-width: 1200px;

  text-align: center;
}

.committee h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 2px;

  margin-bottom: 15px;
}

.committee-description {
  font-size: 16px;
  color: rgba(255,255,255,0.6);

  margin-bottom: 50px;
}

.committee-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.committee-card {
  height: 400px;
  border-radius: 20px;
  overflow: hidden;

  background: #151515;
  border: 1px solid rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;

  transition: 0.3s ease;
}

.cardc-image {
  flex: 0 0 75%;

  background: linear-gradient(135deg, #3a3a3a, #555);

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cardc-info {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 8px 10px;
  padding-top: 27px;

  background: #151515;
}

.cardc-name {
  font-size: 14px;
  color: white;
  font-weight: 600;

  text-align: center;
  line-height: 1.2;
}

.cardc-role {
  font-size: 11px;
  color: rgba(255,255,255,0.6);

  margin-top: 4px;
  text-align: center;
  line-height: 1.2;
}