.page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;   /* 👈 clave */
  height: 1px;

  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}